@import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&display=swap');

*, 
*::before,
*::after{
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
    font-family: 'Kaushan script', sans-serif;
    background-image: url(../images/bg.svg);
  }

.container{
  max-width: 1100px;
  margin: 0 auto;
  flex-wrap: wrap;
}
.main{
  margin-top: 40px;
}

.navbar_inner{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  
}

.navbar_menu{
  display: flex;
  gap: 40px; 
  list-style: none;
  @media (max-width:1000px),(max-width:992px), (max-width:768px), (max-width:480px), (max-width:320px){
  display: none;

}
}
.navbar_menu__show{
  @media (max-width:1000px),(max-width:992px), (max-width:768px), (max-width:480px), (max-width:320px){
  padding-top: 20px;
  display: flex;
  list-style: none;
  flex-direction: column;
  align-items: center;
  gap: 15px;
  width: 100%;
}
}
.mobile{
  @media (max-width:1000px),(max-width:992px), (max-width:768px), (max-width:480px), (max-width:320px){
    padding-top: 20px;
    display: flex;
    list-style: none;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    width: 100%;
  }
}

.menu_link{  
  text-decoration: none;
  color: black;
  font-size: 1.2em;
  
}


.container_inner{
  text-align: center;
}

.learnMore{
  padding: 10px 40px;
  background-color: #F57601;
  color:black;
  border-radius: 10px;
  text-align: center;
  text-decoration: none;
}

.title{
  text-align: center;
}

.titleDescription{
  font-size: 1.5em;
  text-align: center;
}


.article{
  max-width: 700px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  gap: 50px;
  color: orangered; 
}

.complDate{
  font-weight: bold;
  font-size: 1.3em;
}

.page{
  text-decoration: none;
  color: black;
}

.navbar_toggle{
  display: none;
  @media (max-width:1000px),(max-width:992px), (max-width:768px), (max-width:480px), (max-width:320px){
  
    display:block;
}

}




  